html {
  height: 100%;
  width: 100%;
}

h1{

  text-align: center;
  
}

body{

  background-image: url('paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

div{

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-size: 25px;

  line-height: 1.5;
  
}